body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1e1e2f;
  color: #ffd700;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  background-color: #2a2a3b;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

header {
  margin-bottom: 20px;
}

header h1 {
  font-size: 32px;
  color: #ffd700;
}

.profile span {
  font-size: 18px;
  color: #ffd700;
  display: flex;
  align-items: center;
}

.profile img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.controls {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.controls div {
  display: flex;
  flex-direction: column;
}

.controls label {
  margin-bottom: 5px;
  font-size: 16px;
}

.controls input {
  padding: 5px;
  width: 70px;
  border-radius: 5px;
  border: 1px solid #444;
  margin-bottom: 10px;
  background-color: #3e3e4e;
  color: #ffd700;
}

#start-btn, #cash-out-btn {
  background: #ffd700;
  color: #1e1e2f;
  border: none;
  padding: 12px 30px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-content: center;
}

.game-board div {
  width: 70px;
  height: 70px;
  background-color: #444;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.game-board div.clicked {
  background-color: #777;
}

.game-board div.mine {
  background-color: #e74c3c; /* Red for mine */
}

.game-board div.safe {
  background-color: #27ae60; /* Green for safe box */
}

.multiplier-display {
  font-size: 18px;
  color: #ffd700;
  margin-top: 20px;
}

.game-board div.disabled {
  cursor: not-allowed;
  background-color: #444 !important;
}

.cash-out-message {
  color: green;
  font-weight: bold;
}

.mine-message {
  color: red;
  font-weight: bold;
}